/* Style Sheet */
    
body {
font-family: sans-serif;
-webkit-user-select: none;
margin: 0;
/*border-top: 1px solid #ccc;*/
}

#txt {
font-family: Consolas;
font-size: 16px;
height: 100%;
width: 100%;
border: 1px solid blue;
white-space: pre;
/*overflow-wrap: normal;*/
overflow: auto;
padding-left: 10px;
}

#txt:focus {
outline: none;
}

@media print {
    #txt {
        border: 0;
        overflow-wrap: wrap;
        overflow-x: none;
        overflow-y: none;
        padding-left: 0;
    }
}